# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
venv
.venv
env
.env

# Build outputs
dist
dist-ssr
build
*.spec
src-tauri/target
src-tauri/resources/wispr-backend/

# Local data & models
models
*.local
__pycache__
.pytest_cache
.coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nvidia CUDA DLLs
cublas64_12.dll
cublasLt64_12.dll
cudnn_cnn64_9.dll
cudnn_engines_tensor_ir64_9.dll
cudnn_ops64_9.dll
cudnn64_9.dll
zlibwapi.dll
nvrtc64_120_0.dll